<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1>Affiliations<button onclick="flip()"><i class="fa fa-language"></i></button></h1>
    <div class="row">
        <div style="width:100%; font-size:15px; color:#93a1a1; text-align:center;border-bottom:1px solid #93a1a1;margin-left:15px;width:95.75%;margin-top:-7px;font-variant: small-caps;">
            <i class="fa fa-search color" style="color:#b58900"></i> Proje(c)t&nbsp;&nbsp;
            <i class="fa fa-microscope color" style="color:#b58900"></i> Lab(o)&nbsp;&nbsp;
            <i class="fa fa-university color" style="color:#b58900"></i> Institution &nbsp;&nbsp;
            <i class="fas fa-user-tag color" style="color:#b58900"></i> Role <br/>
            <i class="far fa-calendar color" style="color:#b58900"></i> Dates &nbsp;&nbsp;
            <i class="far fa-sun color" style="color:#b58900"></i> Summer/Été &nbsp;&nbsp;
            <i class="fa fa-leaf color" style="color:#b58900"></i> Autumn/Automne &nbsp;&nbsp;
            <i class="far fa-snowflake color" style="color:#b58900"></i> Winter/Hiver &nbsp;&nbsp;
        </div>

        <!-- .resume-right -->
        <div class="col-md-6">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Actuelles</div>
                <div class="clear"></div>
            </div>
             <ul class="attributes">
        <ul class="about" style="margin-top:-12px">
            <h5>Adjunct Professor</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2019 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Data Specialist</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-sun color"></i> 2019 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Research Associate</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Institut des Sciences Cognitives</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2018 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Data Specialist</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value" style="line-height:120%">Canada research chair on the transformations of scholarly communication</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université de Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Érudit Consortium</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2017 - <i class="far fa-snowflake color"></i> 2019</span>
                <div class="clear"></div>
            </li>
        </ul>
</div>

<!-- .resume-left -->
<div class="col-md-6 resume-left">    
    <!-- .title_content -->
    <div class="title_content">
        <div class="text_content">Passées</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->

    <!-- .attributes -->
    <ul class="attributes">
        <ul class="about" style="margin-top:-12px">
            <h5>Adjunct Professor</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2019 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Data Specialist</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-sun color"></i> 2019 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Research Associate</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value">Institut des Sciences Cognitives</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2018 - ...</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Data Specialist</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value" style="line-height:120%">Canada research chair on the transformations of scholarly communication</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université de Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Érudit Consortium</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2017 - <i class="far fa-snowflake color"></i> 2019</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Visiting Scholar</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value" style="line-height:120%">Declaratieve talen en artificiële intelligentie (DTAI) Research Group</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Katholieke Universiteit Leuven</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2016 - <i class="far fa-snowflake color"></i> 2017</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Visiting Scholar</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value" style="line-height:120%">Byggd miljö</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Högskolan i Gävle</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2012 - <i class="far fa-sun color"></i> 2012</span>
                <div class="clear"></div>
            </li>
        </ul>
    </ul>
    <!-- .title_content -->
    <div class="title_content">
        <div class="text_content">Education</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->
    <ul class="attributes" style="margin-top:-12px">
        <ul class="about" style="margin-top:-12px">
            <h5>Postdoctoral Researcher</h5>
            <li>
                <i class="fa fa-microscope"></i>
                <span class="value" style="line-height:120%">Canada research chair on the transformations of scholarly communication</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université de Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2016 - <i class="fa fa-leaf color"></i> 2017</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Postdoctoral Researcher</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2015 - <i class="fa fa-sun color"></i> 2015</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Ph.D <em>summa cum laude</em>,<br/>Cognitive Computing</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-sun color"></i> 2009 - <i class="far fa-snowflake color"></i> 2015</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>M.A., Philosophy</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-snowflake color"></i> 2000 - <i class="far fa-snowflake color"></i> 2008</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>B.Sc., Political Science</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value">Université de Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 1997 - <i class="far fa-snowflake color"></i> 2000</span>
                <div class="clear"></div>
            </li>
        </ul>
    </ul>



    <!-- .title_content -->
    <div class="title_content">
        <div class="text_content">Awards and Grants (Main)</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->

    <!-- .attributes -->
    <ul class="attributes" style="margin-top:-12px">
        <ul class="about" style="margin-top:-12px">
            <h5>Connection Grant</h5>
            <li>
                <i class="fa fa-search"></i>
                <span class="value" style="line-height:120%">Computer-Assisted Text Analysis Workshop</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Social Sciences and Humanities Research Council (SSHRC)</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2018 - ...</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="fas fa-user-tag"></i>
                <span class="value">Principal Investigator</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Doctoral Fellowship</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Social Sciences and Humanities Research Council (SSHRC)</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="far fa-leaf color"></i> 2011 - <i class="fa fa-sun color"></i> 2012</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Doctoral Fellowship</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Fonds de Recherche du Québec - Science et Culture (FRQSC)</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2010 - <i class="fa fa-sun color"></i> 2013</span>
                <div class="clear"></div>
            </li>
        </ul>
        <ul class="about" style="margin-top:-12px">
            <h5>Tuition fee exemption scholarship</h5>
            <li>
                <i class="fa fa-university"></i>
                <span class="value" style="line-height:120%">Université du Québec à Montréal</span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <span class="value"><i class="fa fa-leaf color"></i> 2009 - <i class="fa fa-sun color"></i> 2012</span>
                <div class="clear"></div>
            </li>
        </ul>
    </ul>

</div>
</div>
<div style="clear: both"></div>  
</div>
