<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1>Maxime Sainte-Marie, Ph.D.<button onclick="flip()"><section class="flip_container" style="height:35px; width:40px">
            <div class="card">
                <div class="front">Fr</div>
                <div class="back">En</div>
            </div>
        </section></button></h1>

<div class="row top-p">
    <div class="col-md-12">
        <div class="carousel slide col-md-12" data-interval="10000" data-ride="carousel" style=" width:100%; height: 11vh">
            <div class="carousel-inner text-center" style="height:11vh">
                <div class="item active">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        No amount of belief makes something a fact.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">James Randi</div>
                    </div>
                </div>
                <div class="item">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        In theory there is no difference between theory and practice. In practice there is.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">Yogi Bera</div>
                    </div>
                </div>
                <div class="item">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        If you torture the data long enough, nature will always confess.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">Ronald Coase</div>
                    </div>
                </div>
                <div class="item">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        An expert is a person who has found out by his own painful experience all the mistakes that one can make in a very narrow field.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">Niels Bohr</div>
                    </div>
                </div>
                <div class="item">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        There are no answers, only cross references.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">Norbert Wiener</div>
                    </div>
                </div>
                <div class="item">
                    <div class="d-flex h-100 align-items-center justify-content-center" style="color:#93a1a1; font-size:16px">
                        <i class="fa fa-quote-left"></i>
                        All knowledge degenerates into probability.
                        <i class="fa fa-quote-right"></i>
                        <div style="font-style:italic">David Hume</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr style="width:50%;border-color:#93a1a1"/>

</div>

<div class="col-md-12">
<!-- begin service -->
    <div class="row" id="services" style="margin-bottom:12px">



            <div class="col-md-4 pack-service">
                    <div class="service-icon"><i class="fas fa-user-tie"></i></div>
                    
            </div>
            <div class="col-md-4 pack-service">
                    <div class="service-icon"><i class="fas fa-graduation-cap"></i></div>
                    
            </div>
            <div class="col-md-4 pack-service">
                    <div class="service-icon"><i class="fas fa-search"></i></div>
                    
            </div> 
    </div><!-- End Services -->
</div>


<div class="col-md-12">

<div class="row" id="services">
    <div class="service-detail">
        <div class="col-md-4 pack-service">

                <section class="flip_container" style="height:250px; width:100%">
                    <div class="card">
                        <div class="front">
                                <p>I work as adjunct professor and research officer at the <a href="https://www.cirst.uqam.ca/" target="_blank"> Centre interdisciplinaire de recherche sur la science et la technologie</a> at <a href="https://www.uqam.ca/" target="_blank">UQAM</a>. I also work as data scientist for the <a href="https://cirst.ebsi.umontreal.ca/" target="_blank"> Canada research chair on the transformations of scholarly communication</a>.</p>
                        </div>
                        <div class="back">
                                <p>Je travaille comme professeur associé et agent de recherche au <a href="https://www.cirst.uqam.ca/" target="_blank"> Centre interdisciplinaire de recherche sur la science et la technologie</a> at <a href="https://www.uqam.ca/" target="_blank">UQAM</a>. Je travaille également à titre de scientifique de données pour le compte de la <a href="https://crc.ebsi.umontreal.ca/" target="_blank"> Chaire de recherche du Canada sur les transformations de la communication savante</a>.</p>
                        </div>
                    </div>
                </section>
        </div>
        <div class="col-md-4 pack-service">
            <section class="flip_container" style="height:250px; width:100%">
                <div class="card">
                    <div class="front">
                            <p>Formed in Canada, Sweden (<a href="https://www.hig.se/" target="_blank">Högskolan i Gävle</a>), and Belgium (<a target="_blank" href="https://www.kuleuven.be/english//">KU Leuven</a>), I hold a Ph.D summa cum laude in <a href="https://dic.uqam.ca/" target="_blank"> Cognitive Computing </a> and a Masters degree in <a href="https://philo.uqam.ca/" target="_blank">Philosophy</a> from <a href="https://www.uqam.ca/" target="_blank">UQAM</a>, along with a Bachelor’s degree in <a href="https://pol.umontreal.ca/accueil/" target="_blank">Political Science</a> from <a target="_blank" href="https://umontreal.ca">Université de Montréal</a>.</p>
                    </div>
                    <div class="back">
                            <p>Formé au Canada, en Suède (<a href="https://www.hig.se/" target="_blank">Högskolan i Gävle</a>) ainsi qu'en Belgique (<a target="_blank" href="https://www.kuleuven.be/english//">KU Leuven</a>), je suis titulaire d'un Ph.D summa cum laude en <a href="https://dic.uqam.ca/" target="_blank"> Informatique Cognitive </a>, d'un diplôme de maîtrise en <a href="https://philo.uqam.ca/" target="_blank">Philosophie</a>, tous deux de l'<a href="https://www.uqam.ca/" target="_blank">UQAM</a>, ainsi qu'un baccalauréat en <a href="https://pol.umontreal.ca/accueil/" target="_blank">science politique</a> de l'<a target="_blank" href="https://umontreal.ca">Université de Montréal</a>.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 pack-service">
            <section class="flip_container" style="height:250px; width:100%">
                <div class="card">
                    <div class="front">
                            <p>Lying at the computational crossroads between Social Sciences, Humanities, and Information Science, my research aims to tackle issues pertaining to scholarly communication and communities through the joint and automated use of quantitative and linguistic techniques.</p>
                    </div>
                    <div class="back">
                            <p>Au croisement computationnel des sciences sociales, des sciences humaines et des sciences de l'information, ma recherche vise à répondre à diverses problématiques relevant de la communication et de la communauté savantes au moyen de l'application conjointe et automatisée de méthodes quantitatives et linguistiques.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
        

<div class="clear"></div>
</div>
