<div id="resume" class="content_2">
    <h1><section class="flip_container" style="height:30px; width:100%;">
                <div class="card">
                    <div class="front">References</div>
                    <div class="back">Références</div>
                </div>
            </section>
            <button onclick="flip()"><section class="flip_container" style="height:35px; width:40px">
            <div class="card">
                <div class="front">Fr</div>
                <div class="back">En</div>
            </div>
        </section></button></h1>
<div class="vertical-align" style="flex-direction:column">
<div class="row vertical-align">
<div class="col-md-2-right"><img src="images/references/larry.jpeg" class="img_reference" width="100" height="100" alt="">
</div>
<div class="col-md-10" style = "font-size:16px">
    <div style = "font-size:20px;color: #eee8d5;">Pr. Vincent Larivière</div>
        <div class = "row">
            <div class="col-md-1"><i class="fa fa-flask" style="color: #b58900"></i><br/><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-university" style="color: #b58900"></i><br/><i class = "fa fa-user-tag" style="color: #b58900"></i></div>
            <div class="col-md-9">
                <section class="flip_container" style="height:35px; width:100%">
            <div class="card" style="width:500px">
                <div class="front"><a target="_blank" href="https://crc.ebsi.umontreal.ca/en/">CRC on the Transformations of Scholarly Communication</a><br/><a target="_blank" href="https://ebsi.umontreal.ca/accueil/">École de Bibliothéconomie et des Sciences de l'Information</a><br/><a target="_blank" href="https://www.umontreal.ca/en/">Université de Montréal</a><br/>Postdoctoral Supervisor, Co-Researcher, Co-Author</div>
                <div class="back"><a target="_blank" href="https://crc.ebsi.umontreal.ca/">CRC sur les transformations de la communication savante</a><br/>École de Bibliothéconomie et des Sciences de l'Information<br/><a target="_blank" href="https://www.umontreal.ca">Université de Montréal</a><br/>Superviseur postdoctoral, Co-chercheur, co-auteur</div>
            </div>
        </section>
    </div>
        </div>
</div>
</div>
<div class="row vertical-align">
<div class="col-md-2-right"><img src="images/references/sergio2.jpg" class="img_reference" width="100" height="100" alt="">
</div>
<div class="col-md-10" style = "font-size:16px">
    <div style = "font-size:20px;color: #eee8d5;">Pr. Serge Robert</div>
        <div class = "row">
            <div class="col-md-1"><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-user-tag" style="color: #b58900"></i></div>
            <div class="col-md-9"><section class="flip_container" style="height:35px; width:100%">
            <div class="card">
                <div class="front"><a target="_blank" href="https://philo.uqam.ca">Department of Philosophy</a><br/><a target="_blank" href="https://uqam.ca/english/about/">Université du Québec à Montréal</a><br/>Thesis Supervisor, Masters Supervisor</div>
                <div class="back"><a target="_blank" href="https://philo.uqam.ca">Département de Philosophie</a><br/><a target="_blank" href="https://uqam.ca">Université du Québec à Montréal</a><br/>Superviseur doctoral, Directeur de recherche (maîtrise)</div>
            </div>
        </section>
    </div>
        </div>
    
</div>
</div>
<div class="row vertical-align">
<div class="col-md-2-right"><img src="images/references/roger2.jpg" class="img_reference" width="100" height="100" alt="">
</div>
<div class="col-md-10" style = "font-size:16px">
    <div style = "font-size:20px;color: #eee8d5;">Pr. Roger Villemaire</div>
        <div class = "row">
            <div class="col-md-1"><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-user-tag" style="color: #b58900"></i></div>
            <div class="col-md-9"><section class="flip_container" style="height:35px; width:100%">
            <div class="card">
                <div class="front"><a target="_blank" href="https://info.uqam.ca">Department of Computer Science</a><br/><a target="_blank" href="https://uqam.ca/english/about/">Université du Québec à Montréal</a><br/>Postdoctoral Supervisor, Doctoral Supervisor</div>
                <div class="back"><a target="_blank" href="https://info.uqam.ca">Département d'Informatique</a><br/><a target="_blank" href="https://uqam.ca">Université du Québec à Montréal</a><br/>Superviseur postdoctoral, Superviseur doctoral</div>
            </div>
        </section>
    </div>
        </div>
    
</div>
</div>
<div class="row vertical-align">
<div class="col-md-2-right"><img src="images/references/albert.jpg" class="img_reference" width="100" height="100" alt="">
</div>
<div class="col-md-10" style = "font-size:16px">
    <div style = "font-size:20px;color: #eee8d5;">Pr. Albert Lejeune</div>
        <div class = "row">
            <div class="col-md-1"><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-university" style="color: #b58900"></i><br/><i class="fa fa-user-tag" style="color: #b58900"></i></div>
            <div class="col-md-9"><section class="flip_container" style="height:35px; width:100%">
            <div class="card">
                <div class="front">Director, <a target="_blank" href="https://isc.uqam.ca">Cognitive Science Institute</a><br/><a target="_blank" href="https://uqam.ca/english/about/">Université du Québec à Montréal</a><br/>Research Supervisor, Co-Author</div>
                <div class="back">Directeur, <a target="_blank" href="https://isc.uqam.ca">Institut des sciences cognitives<br/><a target="_blank" href="https://uqam.ca">Université du Québec à Montréal</a><br/>Superviseur de recherche, Co-auteur</div>
            </div>
        </section>
    </div>
        </div>
    
</div>
</div>
</div>
</div>