<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1>Résumé<button onclick="flip()"><i class="fa fa-language"></i></button></h1> 

<div class="row">
        <div style="width:100%; font-size:15px; color:#93a1a1; text-align:center;border-bottom:1px solid #93a1a1;margin-left:15px;width:95.75%;margin-top:-7px;font-variant: small-caps;">
            <i class="fa fa-search color" style="color:#b58900"></i> Proje(c)t&nbsp;&nbsp;
            <i class="fa fa-microscope color" style="color:#b58900"></i> Lab(o)&nbsp;&nbsp;
            <i class="fa fa-university color" style="color:#b58900"></i> Institution &nbsp;&nbsp;
            <i class="fas fa-user-tag color" style="color:#b58900"></i> Role <br/>
            <i class="far fa-calendar color" style="color:#b58900"></i> Dates &nbsp;&nbsp;
            <i class="far fa-sun color" style="color:#b58900"></i> Summer/Été &nbsp;&nbsp;
            <i class="fa fa-leaf color" style="color:#b58900"></i> Autumn/Automne &nbsp;&nbsp;
            <i class="far fa-snowflake color" style="color:#b58900"></i> Winter/Hiver &nbsp;&nbsp;
        </div>
   <!-- .resume-right -->
    <div class="col-md-6">
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Lang(u)ages</div>
            <div class="clear"></div>
        </div>
        <section class="flip_container" style="height:30px; width:80px">
  <div class="card" onclick="flip()">
    <div class="front">
        <h5>Scripting</h5>
    </div>
    <div class="back">
        <h5>Script</h5>
    </div>
</div>
</section>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>NetLogo</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>LISP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
        </div>
        
        
        <section class="flip_container" style="height:30px; width:80px">
  <div class="card" onclick="flip()">
    <div class="front">
        <h5>Markup</h5>
    </div>
    <div class="back">
        <h5>Balisage</h5>
    </div>
</div>
</section>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="88%">
                <div class="skillbar-title"><span>LaTeX</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">88%</div>
            </div>
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
        </div>
        <section class="flip_container" style="height:30px; width:80px">
  <div class="card" onclick="flip()">
    <div class="front">
        <h5>Natural</h5>
    </div>
    <div class="back">
        <h5>Naturels</h5>
    </div>
</div>
</section>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>

            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Italian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Portuguese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>German</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="45%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Dutch</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Swedish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
        </div>


        <div class="title_content" style="float: none;">
            <div class="text_content">Expertise</div>
            <div class="clear"></div>
        </div>
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Bibliometrics</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Scientific Programming</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Computational Social Science</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Cognitive Science</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Artificial Intelligence</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Epistemology</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Philosophy of Science</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Logic</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Sociology of Science</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>History of Science</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Social Network Analysis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Philosophy of Language</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
        </div>

        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies/Loisirs</div>
            <div class="clear"></div>
        </div>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Clarinet</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Composing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Baseball</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Board Games</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Cyclotourism</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Indoor Hockey</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
        </div>
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px;">
            <div class="text_content">References</div>
            <div class="clear"></div>
        </div>
        <div class="reference clearfix"> 

        <!-- /.title_content -->
        <ul>
        <ul style="font-size:16px;margin-top:-3px">
            <li>
                <img src= "images/references/larry.jpeg" class="img_reference">
                <h5>Pr. Vincent Larivière</h5>
                <i class="fas fa-user-tag" style="color:#b58900;margin-right:10px"></i>Postdoc Supervisor
                <i class="fas fa-university" style="color:#b58900;margin-right:10px"></i>Université de Montréal
                <i class="fas fa-home" style="color:#b58900;margin-right:10px"></i><a target="_blank" href="https://crc.ebsi.umontreal.ca/">crc.ebsi.umontreal.ca</a>
            </li>
            <li>
                <img src="images/references/sergio2.jpg" class="img_reference">
                <h5>Pr. Serge Robert</h5>
                <i class="fas fa-user-tag" style="color:#b58900;margin-right:10px"></i>Ph.D., M.A. Supervisor
                <i class="fas fa-university" style="color:#b58900;margin-right:10px"></i>UQAM<br/>
                <i class="fas fa-home" style="color:#b58900;margin-right:10px"></i><a target="_blank" href="https://professeurs.uqam.ca/professeur/robert.serge/">University Webpage</a>
            </li>
            <li>
                <img src="images/references/roger2.jpg" class="img_reference">
                <h5>Pr. Roger Villemaire</h5>
                <i class="fas fa-user-tag" style="color:#b58900;margin-right:10px"></i>Ph.D. Supervisor<br/>
                <i class="fas fa-university" style="color:#b58900;margin-right:10px"></i>UQAM<br/>
                <i class="fas fa-home" style="color:#b58900;margin-right:10px"></i><a target="_blank" href="https://crc.ebsi.umontreal.ca/">University Webpage</a>
            </li>
            <li>
                <img src="images/references/albert.jpg" class="img_reference">
                <h5>Pr. Albert Lejeune</h5>
                <i class="fas fa-user-tag" style="color:#b58900;margin-right:10px"></i>Research Supervisor<br/>
                <i class="fas fa-university" style="color:#b58900;margin-right:10px"></i>UQAM<br/>
                <i class="fas fa-home" style="color:#b58900;margin-right:10px"></i><a target="_blank" href="https://www.albertlejeune.com/">albertlejeune.com/</a>
            </li>
        </ul>
    </ul>
</div>
    </div>
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Affiliations</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <ul class="about" style="margin-top:-12px">
                <h5>Adjunct Professor</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-snowflake color"></i> 2019 - ...</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
            <h5>Data Specialist</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value">Centre Interuniversitaire de recherche sur la science et la technologie</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-sun color"></i> 2019 - ...</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
            <h5>Research Associate</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value">Institut des Sciences Cognitives</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2018 - ...</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Data Specialist</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value" style="line-height:120%">Canada research chair on the transformations of scholarly communication</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université de Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value" style="line-height:120%">Érudit Consortium</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2017 - <i class="far fa-snowflake color"></i> 2019</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Visiting Scholar</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value" style="line-height:120%">Declaratieve talen en artificiële intelligentie (DTAI) Research Group</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Katholieke Universiteit Leuven</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2016 - <i class="far fa-snowflake color"></i> 2017</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Visiting Scholar</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value" style="line-height:120%">Byggd miljö</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Högskolan i Gävle</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-snowflake color"></i> 2012 - <i class="far fa-sun color"></i> 2012</span>
                    <div class="clear"></div>
                </li>
            </ul>
        </ul>
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <ul class="attributes" style="margin-top:-12px">
            <ul class="about" style="margin-top:-12px">
                <h5>Postdoctoral Researcher</h5>
                <li>
                    <i class="fa fa-microscope"></i>
                    <span class="value" style="line-height:120%">Canada research chair on the transformations of scholarly communication</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université de Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-snowflake color"></i> 2016 - <i class="fa fa-leaf color"></i> 2017</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Postdoctoral Researcher</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-snowflake color"></i> 2015 - <i class="fa fa-sun color"></i> 2015</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Ph.D <em>summa cum laude</em>,<br/>Cognitive Computing</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-sun color"></i> 2009 - <i class="far fa-snowflake color"></i> 2015</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>M.A., Philosophy</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-snowflake color"></i> 2000 - <i class="far fa-snowflake color"></i> 2008</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>B.Sc., Political Science</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value">Université de Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 1997 - <i class="far fa-snowflake color"></i> 2000</span>
                    <div class="clear"></div>
                </li>
            </ul>
        </ul>
 
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards and Grants (Main)</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes" style="margin-top:-12px">
            <ul class="about" style="margin-top:-12px">
                <h5>Connection Grant</h5>
                <li>
                    <i class="fa fa-search"></i>
                    <span class="value" style="line-height:120%">Computer-Assisted Text Analysis Workshop</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value" style="line-height:120%">Social Sciences and Humanities Research Council (SSHRC)</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2018 - ...</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="fas fa-user-tag"></i>
                    <span class="value">Principal Investigator</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Doctoral Fellowship</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value" style="line-height:120%">Social Sciences and Humanities Research Council (SSHRC)</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="far fa-leaf color"></i> 2011 - <i class="fa fa-sun color"></i> 2012</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Doctoral Fellowship</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value" style="line-height:120%">Fonds de Recherche du Québec - Science et Culture (FRQSC)</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2010 - <i class="fa fa-sun color"></i> 2013</span>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class="about" style="margin-top:-12px">
                <h5>Tuition fee exemption scholarship</h5>
                <li>
                    <i class="fa fa-university"></i>
                    <span class="value" style="line-height:120%">Université du Québec à Montréal</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="far fa-calendar"></i>
                    <span class="value"><i class="fa fa-leaf color"></i> 2009 - <i class="fa fa-sun color"></i> 2012</span>
                    <div class="clear"></div>
                </li>
            </ul>
        </ul>
 
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-6">   
    

</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->