<div id="resume" class="content_2">
    <h1><section class="flip_container" style="height:30px; width:100%;">
                <div class="card">
                    <div class="front">Skills (Main)</div>
                    <div class="back">Compétences (extr.)</div>
                </div>
            </section>
            <button onclick="flip()"><section class="flip_container" style="height:35px; width:40px">
            <div class="card">
                <div class="front">Fr</div>
                <div class="back">En</div>
            </div>
        </section></button></h1>
    <div class="row" class="col-md-12">

        <div class="col-md-6">
                <h3><section class="flip_container" style="height:30px; width:280px">
                <div class="card" >
                    <div class="front">Languages (Artificial)</div>
                    <div class="back">Langages (Artificiels)</div>
                </div>
            </section></h3>
             <div class="clear"></div>
        <div class="skills">
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>LaTeX</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
        </div>
        <h3><section class="flip_container" style="height:30px; width:280px">
                <div class="card" >
                    <div class="front">Languages (Natural)</div>
                    <div class="back">Langages (Naturels)</div>
                </div>
            </section></h3>

<div class="skills">
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card" >
                                <div class="front">French</div>
                                <div class="back">Français</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">95%</div>
            </div>
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card" >
                                <div class="front">English</div>
                                <div class="back">Anglais</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">90%</div>
            </div>
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span><section class="flip_container" style="height:30px; width:200px; position:absolute">
                  <div class="card" >
                    <div class="front">
                        Italian
                    </div>
                    <div class="back">
                        Italien
                    </div>
                </div>
            </section></span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">70%</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
            <div class="skillbar-title"><span><section class="flip_container" style="height:30px; width:200px; position:absolute">
              <div class="card" >
                <div class="front">
                    Portuguese
                </div>
                <div class="back">
                    Portugais
                </div>
            </div>
        </section></span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">60%</div>
    </div>
    <div class="skillbar clearfix " data-percent="50%">
        <div class="skillbar-title"><span><section class="flip_container" style="height:30px; width:200px; position:absolute">
          <div class="card" >
            <div class="front">
                German
            </div>
            <div class="back">
                Allemand
            </div>
        </div>
    </section></span></div>
    <div class="skillbar-bar"></div>
    <div class="skill-bar-percent">50%</div>
</div>
<div class="skillbar clearfix " data-percent="50%">
        <div class="skillbar-title"><span><section class="flip_container" style="height:30px; width:200px; position:absolute">
          <div class="card" >
            <div class="front">
                Spanish
            </div>
            <div class="back">
                Espagnol
            </div>
        </div>
    </section></span></div>
    <div class="skillbar-bar"></div>
    <div class="skill-bar-percent">50%</div>
</div>
    </div>
    </div>
     <div class="col-md-6 resume-left">
<h3><section class="flip_container" style="height:30px; width:200px">
                <div class="card">
                    <div class="front">Fields</div>
                    <div class="back">Champs</div>
                </div>
            </section></h3>  
<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card" >
                                <div class="front">Bibliometrics</div>
                                <div class="back">Bibliométrie</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">85%</div>
            </div>
<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>STS</span></div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">85%</div>
            </div>
<div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:300px; position:absolute">
                            <div class="card">
                                <div class="front">Computational Linguistics</div>
                                <div class="back">Linguistique Computationnelle</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">80%</div>
            </div>
    <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Cognitive Computing</div>
                                <div class="back">Informatique Cognitive</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">75%</div>
            </div>
    <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Artificial Intelligence</div>
                                <div class="back">Intelligence Artificielle</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">75%</div>
            </div>
    <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Epistemology</div>
                                <div class="back">Épistémologie</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">75%</div>
            </div>
    <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Logic</div>
                                <div class="back">Logique</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">70%</div>
            </div>
    <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Sociology of Science</div>
                                <div class="back">Sociologie des Sciences</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">70%</div>
            </div>
    <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Network Analysis</div>
                                <div class="back">Analyse de réseaux</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">70%</div>
            </div>
<h3><section class="flip_container" style="height:30px; width:200px">
                <div class="card" >
                    <div class="front">Hobbies</div>
                    <div class="back">Passe-temps</div>
                </div>
            </section></h3>   
<div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Clarinet</div>
                                <div class="back">Clarinette</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">85%</div>
            </div>
<div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title">
                    <span>
                        <section class="flip_container" style="height:30px; width:200px; position:absolute">
                            <div class="card">
                                <div class="front">Composing</div>
                                <div class="back">Composition</div>
                            </div>
                        </section>
                    </span>
                </div>
                <div class="skillbar-bar"></div><div class="skill-bar-percent">80%</div>
            </div>
</div>
</div>
</div>